.categories {
 
  
  display: flex;
  justify-content: center;
  /* position: fixed; */
 /* background-color: white */
 /* top: 70px; */
}

.category-section {
  display: flex;
  overflow-x: auto;
  padding: 15px 0;
}

.category {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 900px;
  background-color: #e7e7e7;
  padding: 0.5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;
}

.category:hover {
  background-color: #ddd;
}

.category.active {
  background-color: #606060;
  color: white;
  border-color: #eee;
}

.category:last-child {
  margin-right: 0;
}
