.material-icons {
  color: rgb(96, 96, 96);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
  /* border-bottom: 1px solid #ddd; */
  position: sticky;
  top: 0;
  background-color: white;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  width: 100px;
  margin-left: 15px;
}

.header i {
  padding: 0 7px;
  cursor: pointer;
}

.header__search form {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
  display: flex;
}

.header__search input {
  font-size: 1em;
  width: 500px;
  border: 0;
  outline: 0;
  background: transparent;
}

.header__search i {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0;
  width: 15px;
}
.header__icons {
  display: flex;
  /* align-items: center; */
}
@media (max-width: 425px) {
  .header__search {
    display: none;
  }

  .header__icons .material-icons {
    display: none;
  }

  .header__icons .display-this {
    display: inline;
  }

  .sidebar {
    display: none;
  }
  .header__icons .account {
    display: block;
  }
}

@media (max-width: 768px) {
  .header__search {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: inline;
    position: fixed;
    top: 4.4rem;
    height: auto;
  }
}

@media (max-width: 941px) {
  .header__search input {
    width: 300px;
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  /* border-bottom: 1px solid #ddd; */
}
.dropdown-toggle::after {
  display: none !important;
}
