.profile-main {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: 10rem;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
}

.profile-div-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.container-above-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80rem;
  justify-content: flex-start;
  padding-left: 15rem;
}

.image-name {
  display: flex;

  flex-direction: row;
  gap: 2%;
}

.videos-profile {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.home-videos-playList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  padding-left: 10rem;
}

.profile-upload-videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rm;
  height: 100%;
}

.uplaod-video-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.image-upload-video {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.upload-pargraph {
  color: black;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 400;
}

.upload-pargraph-2 {
  text-align: center;
  color: rgb(97, 87, 87);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}

.uplaod-button {
  color: white;
  background-color: transparent;
  text-transform: var(--yt-button-text-transform, inherit);
}

/* CSS */
.uplaod-button {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.uplaod-button:focus {
  color: #171e29;
}

.uplaod-button:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.uplaod-button:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}

.all-videos {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.all-videos:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.all-videos:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }

  .all-videos {
    min-width: 170px;
  }
}

.home-videos-playList2 {
  font-size: 17px;
  display: flex;
  justify-content: center;
  width: 7rem;
  cursor: pointer;
  font-weight: bold transparent;
  padding-bottom: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.home-videos-playList {
  border-bottom: 1px solid rgb(211, 190, 190);
}

.home-videos-playList2::after {
  font-family: "Times New Roman", Times, serif;
  content: "";
  display: block;
  margin: auto;
  /* height: 3px; */
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
  font-weight: 700;
  font-size: 1rem;
}

.home-videos-playList3 {
  font-size: 17px;
  display: flex;
  justify-content: center;
  width: 4rem;
  cursor: pointer;
  font-weight: bold transparent;
  padding-bottom: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.all-videos-video {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 30px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
